/* This centers everything and adds a background color */
body {
    
    background-color: rgb(196, 243, 255);
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    
    justify-content: center;
    
    height: 100vh;
    margin: 0;
}

/* This makes your login box look like a clean white card */
form {
    background: rgb(240, 235, 240);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button {
    display: block;
    background-color: aquamarine;
    margin-block: 8px;
}

h1 {
    padding: 10px;
    border-radius: 4px;
    /*text-align: center;
    background-position: top;
    background-color: #94e37e;
    
    */
}