{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>City of Laredo – Login</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, msg in messages %}
          <li><strong>{{ category }}:</strong> {{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post">
    <label>Email</label><br/>
    <input type="email" name="email" required /><br/><br/>

    <label>Password</label><br/>
    <input type="password" name="password" required /><br/><br/>

    <button type="submit">Login</button>
    <a href="{{ url_for('create_account') }}">
    <button type="button">Create Account</button>
    </a>
  </form>
{% endblock %}